body{
	background-color : #f7f7f7;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size : 19px;
	text-align: center;
}

img{
	width : 100%;
}

ul{
	list-style-type: none;
}

a, a:hover, a:visited,a:focus{
	text-decoration: none;
	color : #9d9d9d;
	outline:none;
}
.btn{
	margin : 20px;
}
.btn:focus{
	outline: none;
}

.container{
	padding-right: 20px;
	padding-left: 20px;
}

/********************* Navbar *******************/

.navbar-inverse .navbar-nav>li, .navbar-inverse .navbar-nav{	
	padding : 0px;
	background-color: #222;
}

.navbar-inverse .navbar-nav>li>a{	
	height : 50px;
	padding : 15px 0px 0px 0px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	cursor : pointer;
	background-color: #EC167A;	
}

.navbar-header{
	padding : 0px;
}

.navbar-inverse .navbar-brand{
	color : #E4E4E4;
	font-size : 40px;
	cursor : pointer;
	font-family: 'Tulpen One', cursive;
	padding : 15px 0px;
	text-align: left;
}

.navbar{
	height : 50px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}


/**************** Section ****************/

#accueil{
	padding-top:70px;
	margin-top: -20px;
	margin-bottom:-40px;
}

#cv, #portfolio , #contact, .detail-portfolio{
	padding : 80px 0px 100px;
	transition-duration: 0.8s;
	overflow: hidden;
	margin-bottom: -40px;
}

h1{
	color : #EC167A;
	margin-bottom: 40px;
}

.btn.btn-default{
	background-color: #EC167A;
	color:#fff;
	border:1px solid #EC167A;
	padding : 5px 20px;
	font-size : 18px;
	transition-duration: 0.4s
}
.btn.btn-default:hover{
	background-color: #fff;
	color:#EC167A;
}

/**************** Qui-suis-je ****************/
#cv h1, #cv h1{
	text-align: center;
}
#cv h2, h2{font-weight: 700; margin: 0; padding:0;}
.article{
	padding-top:30px;
	padding-right:0;
	padding-bottom : 10px;
}

#cv h4{
	border-bottom : 1px solid #ec167A;
	color : #000;
	font-weight:700;
	padding : 5px 0;
	margin-top: 40px;
	margin-bottom : 30px;
}

#cv p{
	padding-left: 0px;
	margin-bottom:0;
}
#cv ul{list-style: square; padding-left:25px; margin-bottom:10px; text-align: left;}

span.glyphicon-asterisk{
	color : #d2d2d2;
	font-size: 12px;
	font-weight: normal;
	float:right;
	padding-top: 7px;
	display:inline-block;
}
span.glyphicon-asterisk.acquis{
	color : #EC167A;
}

.comp{
	padding-right: 30%;
	margin-bottom: 0px;
	font-weight: bold;
}
#cv div.col-sm-9{
	padding-left:0;
}
#cv .print{
	margin :  50px auto 0;
	display: block;
}
/**************** Portfolio ****************/
#portfolio{
	background : #EC167A;
	color:#fff;
}
#portfolio h1{
	margin-bottom: 0px;
	color:#fff;
}

#portfolio a{
	text-decoration: none;
	color : #000;
}

.thumbnails{
	padding-top: 30px;
}

.thumbnail{
	background:none;
	border : none;
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
	opacity : 0.9;
	transition : 0.3s;
	color:#fff;
	cursor:pointer;
}

.thumbnail:hover{
	opacity :1;
}

.thumbnails img{
	width : 95%;
	border-radius: 4px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}

.thumbnail .caption{
	padding : 0px;
	padding-top: 5px;
	color:#fff;
}
.thumbnail span{
	font-style: italic;
	font-size: 14px;
}

.detail-portfolio{
	background-color: #fff;
	position: relative;
	padding:0;
	display: none;
	box-sizing: border-box;
	margin-top:40px;
}

.detail-portfolio::before{
	content :" ";
	display:block;
	height:30px;
	width : 30px;
	transform: rotate(45deg) translateX(-50%);
	position : absolute;
	top:-8px;
	left:50%;
	background-color: #EC167A;
}
.carousel{
	padding:0;
	margin-top:10px;
}
.detail-portfolio .carousel-indicators{
	bottom : -40px;
}
.carousel-indicators li{
	border-color:#EC167A;
}
.carousel-indicators .active{
	background-color: #EC167A;
}
.detail-portfolio .carousel .carousel-control{
	background-image:none;
	width:10%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	font-size : 20px; 
	height:20px;
	width:20x;
}
.description{
	font-style:italic;
	margin-bottom:20px;
}
.detail-portfolio .row{display:none; padding : 80px 0 100px;}
.detail-portfolio .row .col-md-6{padding : 0 50px;}
.detail-portfolio ul{list-style: square; padding-left:25px; margin-bottom:10px; text-align: left; margin-left:5%;}


/***************** Contact *****************/
#contact input[type='text']{
	margin-bottom: 15px;
}

#contact textarea.form-control{
	height : 190px;
}

label{
	margin-bottom: 0px;
}

.invalide, .invalide:focus{
	border : 1px solid #D20000;
	box-shadow: 0px 0px 5px rgba(210,0,0, 0.7);
}

span.erreur{
	display : none;
	color : #D20000;
	font-size: 14px;
	float: right;
    margin-top: -10px;
}

/************* Footer *****************/
footer{
	background-color: #222;
	color : #9d9d9d;
	font-size: 12px;
	text-align: left;
	padding-bottom: 20px;
}

footer h3{
	font-size: 20px;
}

footer>div,footer ul, .certificats, .projets{
	padding : 0px;
	margin:0px;
}

footer > .col-sm-3, footer>.col-sm-7, footer>.col-sm-2{
	padding-left: 5px;
	padding-right: 5px
}

.glyphicon-file{
	margin-left: 5px;
}


/**************************RESPONSIVE*******************/

@media (min-width: 992px){
	.container {
	    width: 900px;
	}
}

/*tablettes*/
@media screen and (max-width : 991px){
	.navbar-inverse .navbar-brand{
		padding : 20px 20px;
	}

	#qui-suis-je, #portfolio , #contact{
	padding : 80px 20px 100px 20px;
	}
}

/*Pour portables*/
@media screen and (max-width : 767px){
	.navbar-inverse .navbar-nav{
		padding : 10px 0px;
	}
	.navbar-inverse .navbar-nav>li>a{	
		height : inherit;
		padding : 10px;
	}
	.navbar-inverse .navbar-nav>li>a:hover{	
		background-color: rgba(236,22,122,0.1);
	}

	.modal-dialog{
	width : 95%;
	}

	.modal-body{
		padding : 15px;
	}

	footer{
		text-align: center;
	}

}
