body{
	background-color : #F7F7F7;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size : 20px;
	text-align: center;
}

img{
	width : 100%;
}

ul{
	list-style-type: none;
}

a, a:hover, a:visited{
	text-decoration: none;
	color : #9d9d9d;
}

.btn{
	margin : 20px;
}

.container{
	padding-right: 20px;
	padding-left: 20px;
}

/********************* Navbar *******************/

.navbar-inverse .navbar-nav>li, .navbar-inverse .navbar-nav{	
	padding : 0px;
	background-color: #222;
}

.navbar-inverse .navbar-nav>li>a{	
	height : 60px;
	padding : 20px 0px 0px 0px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
	cursor : pointer;
	background-color: #EC167A;	
}

.navbar-header{
	padding : 0px;
}

.navbar-inverse .navbar-brand{
	color : #E4E4E4;
	font-size : 40px;
	cursor : pointer;
	font-family: 'Tulpen One', cursive;
	padding : 20px 0px;
	text-align: left;
}

.navbar{
	height : 60px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}


/**************** Section ****************/

#accueil{
	padding-top:80px;
	margin-top: -20px;
}

#qui-suis-je, #portfolio , #contact{
	border-bottom: 3px solid #ECECEC;
	padding : 80px 0px 100px;
	margin-top : -40px;
}

h1{
	color : #EC167A;
	margin-bottom: 40px;
}

/**************** Qui-suis-je ****************/
.article p{
	padding-bottom: 20px;
}

#cv{
	margin-top : 50px;
}

.modal-dialog{
	width : 700px;
}
.modal-body{
	font-size: 16px;
	padding : 20px 40px 40px 40px;
}

.modal-body h1{
	color : #EC167A;
	font-size : 45px;
	font-family: 'Tulpen One', cursive;
	margin : 0px;
	padding : 0px;
	margin-bottom: -10px;
}

.modal-body span{
	font-weight: bold;
	padding : 0px;
}

.modal-body h4{
	background-color: #CACACA;
	color : #ffffff;
	padding : 2px 7px;
	margin-top: 20px;
}

.modal-body p{
	padding-left: 0px;
}

span.glyphicon-asterisk{
	color : #d2d2d2;
	font-size: 12px;
	font-weight: normal;
	float:right;
	padding-top: 3px;
}
span.glyphicon-asterisk.acquis{
	color : #EC167A;
}


.comp{
	padding-right: 25%;
	margin-bottom: 0px;
	font-weight: bold;
}
/**************** Portfolio ****************/

#portfolio>h1{
	margin-bottom: 0px;
}

#portfolio a{
	text-decoration: none;
	color : #000;
}

.thumbnails{
	padding-top: 30px;
}

.thumbnail{
	background-color: #F7F7F7;
	border : none;
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
	opacity : 0.9;
	transition : 0.2s;
}

.thumbnail:hover{
	opacity :1;
}

.thumbnails img{
	width : 95%;
	border-radius: 4px;
	box-shadow: 3px 3px 3px grey;
}

.thumbnail .caption{
	padding : 0px;
	padding-top: 5px;
}

.info{
	font-size: 14px;
	font-style : italic;
	margin-top : -10px;
	margin-bottom: 0px
}

/***************** Contact *****************/
#contact input[type='text']{
	margin-bottom: 15px;
}

#contact textarea.form-control{
	height : 190px;
}

label{
	margin-bottom: 0px;
}

.invalide, .invalide:focus{
	border : 1px solid #D20000;
	box-shadow: 0px 0px 5px rgba(210,0,0, 0.7);
}

span.erreur{
	display : none;
	color : #D20000;
	font-size: 14px;
	float: right;
    margin-top: -10px;
}

/************* Footer *****************/
footer{
	background-color: #222;
	color : #9d9d9d;
	font-size: 12px;
	text-align: left;
	padding-bottom: 20px;
}

footer h3{
	font-size: 20px;
}

footer>div,footer ul, .certificats, .projets{
	padding : 0px;
	margin:0px;
}

footer > .col-sm-3, footer>.col-sm-7, footer>.col-sm-2{
	padding-left: 5px;
	padding-right: 5px
}

.glyphicon-file{
	margin-left: 5px;
}


/**************************RESPONSIVE*******************/

@media (min-width: 992px){
	.container {
	    width: 900px;
	}
}

/*tablettes*/
@media screen and (max-width : 991px){
	.navbar-inverse .navbar-brand{
		padding : 20px 20px;
	}

	#qui-suis-je, #portfolio , #contact{
	padding : 80px 20px 100px 20px;
	}
}

/*Pour portables*/
@media screen and (max-width : 767px){
	.navbar-inverse .navbar-nav{
		padding : 10px 0px;
	}
	.navbar-inverse .navbar-nav>li>a{	
		height : inherit;
		padding : 10px;
	}
	.navbar-inverse .navbar-nav>li>a:hover{	
		background-color: rgba(236,22,122,0.1);
	}

	.modal-dialog{
	width : 95%;
	}

	.modal-body{
		padding : 15px;
	}

	footer{
		text-align: center;
	}

}
