body{
	margin : 0;
	background: #fbf7f0;
	font-family: 'Abel', sans-serif;
	color : #4d4d4d;
	font-size: 16px;
}
body.animate{
	overflow: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  outline: 1px solid slategrey;
}
*{
	box-sizing: border-box;
}
ul{padding-left:15px; margin : 0;}
a{
	color:#4d4d4d;
	text-decoration: none;
}

h2, h3, nav, .other-skills, .jalon{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

.container{
	width: 100%;
	max-width: 1280px;
	padding : 20px 40px;
	margin : 0 auto;
}

body.animate nav.container,
body.animate .mouse{
	opacity: 0;
}

nav.container{
	opacity: 1;
	position: fixed;
	z-index:10;
	right:0px;
	top:0px;
	text-align: right;
	padding : 20px;
	transition : 0.7s;
}

nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
nav ul li{
	color:#fff;
	display: inline-block;
	vertical-align: top;
}
nav ul li a{
	color:#fff;
	padding : 0 5px;
	font-size:12px;
	text-transform: uppercase;
}

nav img{
	margin-top : -2px;
}

section{
	overflow: hidden;
	position: relative;
}

h2{
	margin-top:0;
	padding : 10px;
	text-align: center;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
}

h1{
	margin-top: 0;
	font-family: 'Kaushan Script', cursive;
	font-size: 80px;
}

/*========== HOME ===========*/

.home{
	height: 100vh;
	background-color: #2f0512;
	position: relative;
	top:0;
	left:0;
	min-width: 100%;
	color: #4d4d4d;
}

.home__bkg{
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	opacity: 0.8;
	background: url('../img/home1-min.jpg') no-repeat center;
	background-size: cover;
}

.home__box {
	text-align:center;
	top : 50%;
	left:50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background: #ffffff;
	padding: 20px 40px;
	width: 60%;
	max-width: 700px;
	margin: 0 auto;
	outline: 20px solid #ffffff;
	border: 5px solid #4d4d4d;
}

.home__subtitle{
	display: block;
	font-size: 22px;
	line-height: 0;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
.home__quote{
	font-size: 20px;
	width: 100%;
	max-width: 700px;
	margin : 40px auto;
	font-style: italic;
}
.home__quote-icon{
	font-size: 80px;
	line-height: 0;
}

.mouse{
	height : 40px;
	width: 25px;
	border : 2px solid #ffffff;
	border-radius: 20px;
	position : absolute;
	bottom: 0;
	left: 50%;
	transform : translateX(-50%);
	margin-bottom : 30px;
	transition : 0.3s;
}
.mouse.fixed{
	position: fixed;
}
.mouse-wheel{
	height : 4px;
	width: 4px;
	background : #ffffff;
	border-radius: 50%;
	position : absolute;
	left: 50%;
	margin-left:-2px;
  -webkit-animation: mouse-scroll 2s infinite; /* Safari 4+ */
  -moz-animation:    mouse-scroll 2s infinite; /* Fx 5+ */
  -o-animation:      mouse-scroll 2s infinite; /* Opera 12+ */
  animation:         mouse-scroll 2s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes mouse-scroll {
  0%   { top: 5px; }
  100% { top: 20px; opacity: 0 }
}
@-moz-keyframes mouse-scroll {
  0%   { top: 5px; }
  100% { top: 20px; opacity: 0 }
}
@-o-keyframes mouse-scroll {
  0%   { top: 5px; }
  100% { top: 20px; opacity: 0 }
}
@keyframes mouse-scroll {
  0%   { top: 5px; }
  100% { top: 20px; opacity: 0 }
}
.mouse span{
	display: block;
	background: #ffffff;
	width : 4px;
	position: absolute;
	bottom:-32px;
	height : 20px;
	left:50%;
	margin-left:-2px;	
}

/*========== Experiences ===========*/

.experiences,
.experiences h2,
.experience__icon .picto{
	background: #fff9f1;
}

.timeline{
	width: 100%;
	max-width : 800px;
	margin : 0 auto;
	padding-bottom : 50px;
}
.timeline:after{
	content: '';
	display: block;
	clear:both;
}

.timeline-line{
	display: block;
	background: #f6cc68;
	width : 5px;
	position: absolute;
	top:0;
	bottom :0;
	left:50%;
	margin-left:-2.5px;
}

.experience{
	clear: both;
	display: inline-block;
	width : calc(50% - 43px);
	margin : 0 20px;
	padding : 0 10px;
}
.experience__description{
	text-align: right;
}
.experience_secondary{
	opacity: 0.8;
}
.experience_work{
	float: right;
}
.experience_training{
	float: left;
}
.experience_training + .experience_work,
.experience_work + .experience_training{
	margin-top: -50px;
	margin-bottom: 10px;
}

.experience__description{
	padding : 0 15px 25px;
	border-radius: 20px;
}
.experience__description h3{
	margin : 0;
	font-size: 16px;
	display: inline;
}
.experience__icon{
	color: #fff;
	position: relative;
	font-size:12px;
	text-transform: uppercase;
	padding :7px;
	text-align: center;
	margin-bottom:10px;
}

.experience_training .experience__icon{background: #b65674; border-radius: 0 20px 20px 0;}
.experience_work .experience__icon{background: #f6cc68; border-radius: 20px 0 0 20px;}

.experience__icon::after{
	content:'';
	display: block;
	width : 11px;
	height: 11px;
	position: absolute;
	top:46%;
	transform: rotate(45deg) translateY(-50%);
}
.experience_work .experience__icon::after{
	left:-6.5px;
	background: #f6cc68;
}
.experience_training .experience__icon::after{
	right : 1.5px;
	background: #b65674;
}
.experience__icon .picto{
	display: block;
	width : 35px;
	height: 35px;
	border : 2px solid;
	border-radius: 50%;
	position: absolute;
	top:50%;
}
.experience_training .experience__icon .picto{
	right:-33px; 
	border-color : #b65674;
	transform : translate(50%, -50%);
}
.experience_work .experience__icon .picto{
	left:-33px; 
	border-color : #f6cc68;
	transform : translate(-50%, -50%);
}

/*========== SKILLS ===========*/

section.skills{
	background: #ffeab9;
	color : #f6cc68;
	text-align: center;
	padding-bottom : 40px;
}
.skills h2 {
	color: #ffffff;
}
.skills::before{
	content:'';
	display: block;
	background: #ffffff;
	width : 5px;
	position: absolute;
	top:0;
	left:50%;
	margin-left:-2.5px;
	height : 20px;
}
.skills>ul{
	list-style: none;
}
.skills ul.main-skills{
	margin : 80px auto ;
	padding:0;
}
.skills ul.main-skills li{
	display: inline-block;
	vertical-align: top;
	margin : 20px 15px 50px;
	position: relative;
}
.skills ul.main-skills li svg{
	transform: rotate(-90deg);
	width: 180px;
	height:180px;
}
.skills ul.main-skills li .bar-background{
	stroke: #ffffff;
	stroke-width : 15px;
}
.skills ul.main-skills li .bar{
	stroke: #f6cc68;
	stroke-width : 15px;
	transition: 1.5s ease-out;
}
.skills ul.main-skills li span{
	position: absolute;
	bottom: -40px;
	left:0;
	display: block;
	width: 100%;
	font-size : 18px;
	font-weight: bold;
}
.skills ul.main-skills li img{
	position: absolute;
	max-width: 70%;
	top:50%;
	left:50%;
	transform : translate(-50%, -50%);
}

.skills ul.other-skills{
	max-width: 700px;
	margin: 0 auto;
}

.skills ul.other-skills li{
	display: inline-block;
	vertical-align: top;
	padding : 7px;
	margin : 10px;
	background: #fff;
	border-radius: 5px;
}

/*========== PROJETS ===========*/

section.projects{
	background: #b65674;
	text-align: left;
}
.projects h2 {
	color: #ffffff;
}
.projects .container::before{
	content:'';
	display: block;
	background: #ffffff;
	width : 5px;
	position: absolute;
	top:0px;
	left:50%;
	margin-left:-2.5px;
	height : 20px;
}
.projects .main-projects{
	margin : 80px auto ;
	overflow: hidden;
}

.projects .card {
	background: #ffffff;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	width: 45%;
	width: calc(50% - 34px);
	margin : 15px;
}
.projects .thumbnail{
	position: relative;
	background: #2f0512;
	vertical-align: top;
}
.projects .thumbnail img{
	width: 100%;
	display: block;
	opacity: 0.9;
	transition: 0.3s;
}
.projects .thumbnail:hover img{
	opacity: 0.1;
}
.projects .thumbnail .caption{
	width: 100%;
	display: block;
	position: absolute;
	top:50%;
	color: #ffffff;
	transform : translateY(-50%);
	padding : 20px;
}
.projects .title{
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	text-align: center;	
	padding:15px;
	margin: 0;
}
.projects .title span{
	font-size : 14px;
	text-transform: none;
	font-family: 'Abel', sans-serif;
}

.projects .thumbnail .caption p, 
.projects .thumbnail .caption li{
	font-size: 15px;
	margin : 0;
	text-align: left;
}
.projects .thumbnail .caption{
	display: none;
}
.projects .thumbnail:hover .caption{
	display: block;
}

/********************************************/
/*             RESPONSIVE                   */
/********************************************/

@media screen and (max-width : 768px){	
	html{
		overflow: visible !important;
	}

	body{
		font-size : 12px;	    
		float: left;
	    width: 100%;
	    height: auto;
	    overflow:visible !important;
	}
	section .container{
		padding : 20px 0;
	}
	h2{
		font-size : 20px;
	}
	nav ul li a{
		font-size : 10px;
	}
	nav ul li a img{
		width: 20px;
	}
	nav.container{
		padding : 12px;
	}
	h1{
		font-size: 45px;
	}

	/*Home*/
	.home{
		height: 100vh;
	}
	.home__bkg{
		opacity: 0.1;
	}
	.home__box{
		min-width: 100px;
		width: 80%;
		padding : 0 20px;
	}
	.home__subtitle, 
	.home__quote{
		font-size: 16px;
	}

	/*Experiences*/
	.experience{
		padding-right : 0;
		padding-left : 0;
		margin : 0 8px;
		width : 40%;
		width : calc(50% - 33px)
	}
	.experience__description{
		padding : 0 0 25px 0;
	}
	.experience__description h3{
		font-size : 12px;
	}
	.experience__icon{
		font-size : 11px;
	}
	.experience_work .experience__icon .picto{
		left:-25px;
	}
	.experience_training .experience__icon .picto{
		right: -25px;
	}

	/* Skills */
	.skills ul.main-skills{
		margin-top:0;
		margin-bottom : 20px;
	}
	.skills ul.main-skills li{
		margin-bottom : 40px;		
	}
	.skills ul.main-skills li img{
		max-width: 45%;	
	}
	.skills ul.main-skills li span{
		bottom:-40px;
	}
	.skills ul.other-skills li{
		margin : 5px;
	}
	.skills ul.main-skills li svg{
		width: 120px;
		height : 120px;
	}
	.skills ul.main-skills li .bar,
	.skills ul.main-skills li .bar-background{
		stroke-width : 10px;
	}

	/*Projets*/
	.projects .card{
		width: 90%;
		margin: 15px auto;
		display: block;
	}
	.projects .main-projects{
		margin: 0 auto;
	}
	.projects .thumbnail .caption p, .projects .thumbnail .caption li{
		font-size : 12px;
	}

}



